/* components/Footer.css */
.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .footer-section {
    margin: 10px;
    min-width: 150px;
  }
  
  .footer-section h4 {
    margin-bottom: 10px;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin: 5px 0
  }

  