.nav_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  background-position: centre;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.menu ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.menu li {
  margin: 0 10px;
}

.navbar-link {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.navbar-link:hover {
  color: #007bff;
}

.search {
  display: flex;
  align-items: center;
  
}

.search-bar {
  padding: 5px 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;

}
